body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(130deg, purple, green);
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.container {
  width: 90%;
  max-width: 420px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}


.container header {
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 5px black;
}


.container p {
  color: white;
  font-size: 14px;
  margin-top: -10px;
}


.container label {
  font-weight: bold;
  color: white;
  text-align: left;
}

.container input {
  width: 100%;
  padding: 12px;
  border: 2px solid white;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  outline: none;
  color: white;
  font-size: 15px;
  transition: 0.3s;
}

.container input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.container input:focus {
  border-color: yellow;
  background: rgba(0, 0, 0, 0.4);
}


.container button {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  background: blue;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.container button:hover {
  background: darkblue;
  transform: scale(1.05);
}